
.content {
    margin-top: 100px;
    color: #222222;
    background-color: white;
    max-width: 800px;
    margin: auto;
}

.content pre {
    background-color: #fff;
    border: none;
}


p {
    size:.7em;
    text-align: center;
}


#genericObject{
    size: 5em;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

#genericObject h1{
    vertical-align: center;
}

/*Button styling*/


button{
/*    display: inline-block;*/
    width: 70px;
    margin: auto;
    word-wrap: break-word;
}

button p{
    font-size: 0.6em;
}

.button-container {
  height: 300px;
  /*margin: auto;*/
  flex-grow: 1;
  flex-basis: 80px;
  justify-content: space-between;
}

.button-container ul{
    font-size: 0.6em;
}

.button-container li{
    font-size: 0.6em;
}


/*Google Login buttons at bottom*/

div #logins{
    font-size: 0.8em;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 10px;
}


div #logins p{
    font-size: 0.8em;
}

div #logins button{
    width: 100px;
}

